* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.banner {
  width: 100%;
  height: 100vh;
  background: url("img/imagens-atualizadas/spidermanheader.jpg") no-repeat
    center / cover;
  background-size: 110%;
  background-position: left;
}

.menu {
  display: flex;
  width: 100%;
  height: 120px;
  align-items: center;
  gap: 60px;
  padding-left: 30px;
  margin-bottom: 200px;
}

.menu ul {
  margin-top: 38px;
  display: flex;
  list-style: none;
  font-size: 17px;
}

.menu ul a {
  position: relative;
  color: #fff;
  padding: 10px 40px;
  text-decoration: none;
}
.menu ul a:hover::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  bottom: 0;
  left: 25%;
  border-bottom: 2px solid #fe7467;
}

.logo img {
  margin-top: 39px;
  width: 200px;
  margin-left: 40px;
}

.spider {
  position: relative;
  display: flex;
  height: 40%;
  margin-top: auto;
  margin-left: 100px;
}

.main {
  width: 100%;
  height: 105svh;
  background: url("./img/imagens-atualizadas/thor_header.jpg") no-repeat center /
    cover;
  /*adicionar as letras um pouco de letras*/
}

.main div {
  display: flex;
  width: 100%;
  height: 120px;
  padding-top: 90px;
}

.main h3 {
  margin: auto;
  color: #fff;
  font-size: xx-large;
  width: fit-content;
  height: 100px;
  position: relative;
}

.main h3::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  bottom: 0;
  align-items: center;
  left: 25%;
  top: 50px;
  border-bottom: 4px solid #fff;
}

.main article {
  color: #fff;
  font-size: larger;
}

.texto p {
  width: 700px;
  height: 40%;
  margin-top: 150px;
  margin-left: auto;
  margin-right: 110px;
  font-size: 28px;
  font-weight: 700;
}

.titulo-footer {
  color: black;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  width: 100%;
}
.footer-texto {
  display: flex;
  margin-top: 10px;
  margin-left: auto;
}

.titulo-footer h3 {
  display: flex;
  width: fit-content;
  height: 100px;
  padding-top: 40px;
  padding-bottom: 100px;
  position: relative;
  justify-content: center;
  margin: auto;
}
.titulo-footer h3::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  bottom: 0;
  top: 90px;
  border-bottom: 4px solid #fe7467;
}

.footer-texto p {
  width: 600px;
  font-size: 28px;
  font-weight: 700;
  margin-left: auto;
  text-align: initial;
}

.btn {
  color: #fff;
  background: linear-gradient(#fe7467, #fc3836);
  width: 250px;
  height: 60px;
  border-radius: 10px;
  border: none;
  position: relative;
  font-size: x-large;
}

.texto-botao {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  padding-left: 60px;
}

.botao a {
  display: flex;
  justify-content: center;
  font-style: none;
}
